@import url("https://fonts.googleapis.com/css2?family=Ysabeau:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ysabeau", sans-serif;
}

.container {
  margin: 0 auto;
  width: 90%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login__section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 6, 0.7)), url(/images/contact.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  color: #fff;
}
.login__section p {
  font-size: 1.5rem;
}
.login__section h1 {
  font-size: 5rem;
}
.login__email input, .login__password input {
  outline: none;
  padding: 1em 2em;
  font-size: 1rem;
  border: none;
  box-shadow: 0px 0px 3px rgb(207, 200, 200);
  width: 100%;
  background-color: transparent;
  color: #fff;
  margin-top: 1em;
}
.login__email input::-moz-placeholder, .login__password input::-moz-placeholder {
  color: #fff;
}
.login__email input::placeholder, .login__password input::placeholder {
  color: #fff;
}
.login__btn button {
  background-color: #fff;
  padding: 1em 2em;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  color: #000;
  border: none;
  cursor: pointer;
}
.login__btn button:hover {
  background-color: rgb(23, 189, 50);
}
.login__btn button:hover a {
  color: #fff;
}
.login__paragraph {
  margin: 0.5em 0;
  color: lightgray;
}
.login__email, .login__password {
  padding: 1em;
}
.login form {
  border-radius: 5px;
  background-color: rgba(64, 205, 25, 0.3);
  width: 40%;
  padding: 1em;
}
.login form .to__login {
  text-align: center;
}
.login form .to__login a {
  color: rgb(23, 189, 50);
}

@media screen and (max-width: 957px) {
  .login form {
    width: 60%;
  }
}
@media screen and (max-width: 574px) {
  .login form {
    width: 80%;
  }
  .login__section h1 {
    font-size: 3rem;
  }
  .login__section p {
    font-size: 1rem;
  }
}
.nav {
  background-color: rgb(224, 255, 255);
  background-color: rgb(224, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  height: 14vh;
}
.nav__left {
  cursor: pointer;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav__right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 1em;
}
.nav__right ul li {
  padding: 1em;
  font-size: 1rem;
  margin-right: 1em;
  border-radius: 5px;
}
.nav__right ul li a {
  color: #000;
}
.nav__right ul li:hover {
  background-color: #adff2f;
}
.nav__right ul li:hover a {
  color: #008000;
}

.nav ul li:last-child {
  display: none;
}

/*media queries*/
@media only screen and (max-width: 700px) {
  .nav ul li:last-child {
    display: block;
  }
  .nav ul li:not(:last-child) {
    display: none;
  }
  .nav {
    font-size: 1rem;
  }
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../images/background.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero h1 {
  font-size: 5rem;
  color: #adff2f;
}
.hero p {
  font-size: 2rem;
  color: #fff;
  text-transform: capitalize;
}

/*media queries*/
@media only screen and (max-width: 580px) {
  .hero h1 {
    font-size: 3rem;
  }
  .hero p {
    font-size: 1rem;
  }
}
.about-us {
  margin: 3rem;
  text-align: center;
}
.about-us__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.about-us h1 {
  color: #008000;
  font-size: 3rem;
}
.about-us__left {
  background-color: #f4f7fb;
  padding: 4em;
  margin: 4em;
  line-height: 2;
}

.card h3 {
  color: #008000;
}
.card__mission {
  background-color: #f4f7fb;
  padding: 2em;
  margin: 1em;
  border-radius: 7px;
}
.card__vision {
  background-color: #f4f7fb;
  padding: 2em;
  margin: 1em;
  border-radius: 7px;
}

/*media queries*/
@media only screen and (max-width: 1200px) {
  .about-us__left {
    margin: 1em;
    padding: 1em;
  }
  .about-us__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}
.programmes h2 {
  color: #008000;
  font-size: 2rem;
  text-align: center;
}
.programmes p {
  text-align: center;
}
.programmes__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 2em;
}
.programmes__power {
  margin: 2em 0;
  padding: 1em;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 10px #000;
  text-align: left;
}
.programmes__power h3 {
  margin: 1em;
  color: rgb(23, 189, 50);
}

.sponsorshipImg {
  height: 250px;
  width: 100%;
}
.sponsorshipImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  padding-bottom: 1em;
}

@media only screen and (max-width: 700px) {
  .programmes__container {
    display: flex;
    justify-content: wrap;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .programmes__power {
    width: 100%;
  }
}
.donation {
  height: 100vh;
}
.donation__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.donation__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(/images/donation3.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  color: #fff;
  margin-top: 14vh;
}
.donation__section p {
  font-size: 1.5rem;
}
.donation__section h1 {
  font-size: 5rem;
}
.donation__name input, .donation__email input, .donation__comment input {
  outline: none;
  padding: 1em 2em;
  font-size: 1rem;
  border: none;
  box-shadow: 0px 0px 3px rgb(207, 200, 200);
  width: 100%;
  background-color: transparent;
  color: #fff;
}
.donation__name input::-moz-placeholder, .donation__email input::-moz-placeholder, .donation__comment input::-moz-placeholder {
  color: #fff;
}
.donation__name input::placeholder, .donation__email input::placeholder, .donation__comment input::placeholder {
  color: #fff;
}
.donation__button button {
  background-color: #fff;
  padding: 1em 2em;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  color: #000;
  border: none;
  cursor: pointer;
}
.donation__button button:hover {
  background-color: rgb(23, 189, 50);
}
.donation__button button:hover a {
  color: #fff;
}
.donation form {
  border-radius: 5px;
  background-color: rgba(64, 205, 25, 0.3);
  padding: 1em;
  margin: 1em;
}
.donation form p {
  margin: 1em 0 0.5em 0;
}
.donation form textarea {
  background: transparent;
  outline: none;
  font-size: 1rem;
  color: #fff;
  border: none;
  width: 100%;
  box-shadow: 0 0 3px rgb(207, 200, 200);
  margin-bottom: 1em;
}
.donation form textarea::-moz-placeholder {
  color: #fff;
}
.donation form textarea::placeholder {
  color: #fff;
}
.donation select {
  padding: 0.5em;
  margin: 1em;
  background: transparent;
  color: rgb(23, 189, 50);
  outline: none;
  font-size: 1.3rem;
}

@media screen and (max-width: 960px) {
  .donation__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .donation__paragraph {
    text-align: center;
    margin-bottom: 0.5em;
  }
  .donation h1 {
    text-align: center;
  }
  .donation form {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 630px) {
  .donation {
    min-height: 100vh;
  }
  .donation__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .donation__section h1 {
    font-size: 2rem;
  }
  .donation__section p {
    font-size: 1rem;
  }
}
.testimonials h2 {
  color: #008000;
  font-size: 2em;
  text-align: center;
}
.testimonials__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4em;
  background-color: #f4f7fb;
  margin: 1em;
  padding: 2em;
  border-radius: 7px;
  box-shadow: 0 0 4px #000;
}
.testimonials__paragraph {
  max-width: 1000px;
}
.testimonials__img {
  width: 200px;
  height: 200px;
}
.testimonials__img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.footer {
  width: 100%;
  background-color: rgb(224, 255, 255);
  text-align: center;
}
.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.footer__icon {
  padding: 1em;
  margin: 0.5em;
}

.contact {
  margin-top: 14vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/img-6.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  height: 100vh;
}
.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact__container__p {
  text-align: center !important;
}
.contact p {
  font-size: 1.5rem;
  color: #fff;
}
.contact h1 {
  font-size: 5rem;
  color: white;
  text-align: center;
}
.contact form {
  border-radius: 5px;
  background-color: rgba(64, 205, 25, 0.3);
  padding: 1em;
  margin: 1em;
}
.contact form p {
  margin: 1em 0 0.5em 0;
}
.contact form textarea {
  background: transparent;
  text-align: center;
  outline: none;
  font-size: 1rem;
  color: #fff;
  border: none;
  width: 100%;
  box-shadow: 0 0 3px rgb(207, 200, 200);
}
.contact form textarea::-moz-placeholder {
  color: #fff;
}
.contact form textarea::placeholder {
  color: #fff;
}
.contact__button button {
  background-color: #fff;
  padding: 1em 2em;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  color: #000;
  border: none;
  margin-top: 1em;
  cursor: pointer;
}
.contact__button button:hover {
  background-color: rgb(23, 189, 50);
}
.contact__button button:hover a {
  color: #fff;
}
.contact__name input, .contact__email input, .contact__phone input {
  outline: none;
  padding: 1em 2em;
  font-size: 1rem;
  border: none;
  box-shadow: 0px 0px 3px rgb(207, 200, 200);
  width: 100%;
  background-color: transparent;
  color: #fff;
}
.contact__name input::-moz-placeholder, .contact__email input::-moz-placeholder, .contact__phone input::-moz-placeholder {
  color: #fff;
}
.contact__name input::placeholder, .contact__email input::placeholder, .contact__phone input::placeholder {
  color: #fff;
}

@media screen and (max-width: 618px) {
  .contact form {
    width: 80%;
  }
  .contact h1 {
    font-size: 2rem;
  }
  .contact p {
    font-size: 0.8rem;
  }
}
.signup {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signup__section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 50, 6, 0.7)), url(/images/img-4.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  color: #fff;
  margin-top: 14vh;
}
.signup__section p {
  font-size: 1.5rem;
}
.signup__section h1 {
  font-size: 5rem;
}
.signup__email input, .signup__password input {
  outline: none;
  padding: 1em 2em;
  font-size: 1rem;
  border: none;
  box-shadow: 0 0 3px;
  width: 100%;
  background-color: transparent;
  color: #fff;
  margin-top: 1em;
}
.signup__email input::-moz-placeholder, .signup__password input::-moz-placeholder {
  color: #fff;
}
.signup__email input::placeholder, .signup__password input::placeholder {
  color: #fff;
}
.signup__btn button {
  background-color: #fff;
  padding: 1em 2em;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  color: #000;
  border: none;
  cursor: pointer;
}
.signup__btn button:hover {
  background-color: rgb(23, 189, 50);
}
.signup__btn button:hover a {
  color: #fff;
}
.signup__paragraph {
  margin: 0.5em 0;
  color: lightgray;
}
.signup__email, .signup__password {
  padding: 1em;
}
.signup form {
  border-radius: 5px;
  background-color: rgba(10, 224, 107, 0.3);
  width: 50%;
  margin-top: 2em;
  padding: 1em;
}
.signup form .to__signup {
  text-align: center;
}
.signup form .to__signup a {
  color: rgb(23, 189, 50);
}

@media screen and (max-width: 957px) {
  .signup form {
    width: 60%;
  }
}
@media screen and (max-width: 670px) {
  .signup form {
    width: 100%;
  }
  .signup__section h1 {
    font-size: 2.5rem;
  }
  .signup__section p {
    font-size: 1rem;
  }
}