@import url("https://fonts.googleapis.com/css2?family=Ysabeau:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ysabeau", sans-serif;
}

.container {
  margin: 0 auto;
  width: 90%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}