@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;
h1{
    color: $greenyellow;
    text-align:center;
    font-size: 5rem;
}
input{
    outline: none;
    padding: 1em 2em;
    font-size: 1rem;
    border-radius: 5px;
    background-color: transparent;
    color: $white;
    &::placeholder{
        color: $white;
    }
   
}