@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
.contact {
  margin-top: 14vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/img-6.jpg") no-repeat center center/cover;
  background-attachment: fixed;

  height: 100vh;
  &__container {
    @include flex-col(center, center);
    &__p {
      text-align: center !important;
    }
  }

  p {
    font-size: 1.5rem;
    color: $white;
  }
  h1 {
    font-size: 5rem;
    color: white;
    text-align: center;
  }
  form {
    border-radius: 5px;
    background-color: $dark-green;

    padding: 1em;
    margin: 1em;
    p {
      margin: 1em 0 0.5em 0;
    }
    textarea {
      background: transparent;
      text-align: center;
      outline: none;
      font-size: 1rem;
      color: $white;
      border: none;
      width: 100%;
      box-shadow: 0 0 3px $very-light-gray;
      // margin: 1em 0;
      &::placeholder {
        color: $white;
      }
    }
  }
  &__button {
    button {
      @include button;
      margin-top: 1em;
      cursor: pointer;
      &:hover {
        background-color: $light-green;
        a {
          color: $white;
        }
      }
    }
  }
  &__name input,
  &__email input,
  &__phone input {
    outline: none;
    padding: 1em 2em;
    font-size: 1rem;
    border: none;
    box-shadow: 0px 0px 3px $very-light-gray;
    width: 100%;
    background-color: transparent;
    color: $white;
    // margin-top: 1em;
    &::placeholder {
      color: $white;
    }
  }
}

// Media queries
// @media screen and (max-width: 960px) {
  // .contact {
    // form {
      // width: 70%;
    // }
  // }
// }

@media screen and (max-width: 618px) {
  .contact {
    form {
      width: 80%;
    }

    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}
