@use "./variables" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:$font;
}
.container {
  margin: 0 auto;
  width: 90%;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
