@mixin flex($justify, $align, $direction:column){
display:flex;
justify-content:$justify;
align-items:$align;
flex-direction:$direction;
}

@mixin flex-col($justify, $align, $direction:column){
    display:flex;
    justify-content:$justify;
    align-items:$align;
    flex-direction:$direction;
    }