$light-gray:#f4f7fb;
$lightcyan: rgb(224, 255, 255);
$black:#000;
$white:#fff;
$font:'Ysabeau', sans-serif;
// $font:'Foldit', cursive;

$greenyellow:#adff2f;
$green:#008000;

$light-green:rgb(23, 189, 50);
$very-light-gray:rgb(207, 200, 200);
$dark-green: rgba(64, 205, 25, 0.3);




