@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;
.footer {
  width: 100%;
  background-color: $lightcyan;
  text-align: center;
  &__icons {
    @include flex(center, center);
  }
  &__icon {
    padding: 1em;
    margin: 0.5em;

  }
}
