@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
.hero{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url("../../../images/background.jpg") no-repeat center center/cover ;
    width: 100%;
    height: 100%;
    text-align: center;
    @include flex-col(center,center);
    // &__container{
       
    // }
    h1{
        font-size: 5rem;
        color: $greenyellow;
        
    }

    p{
        font-size: 2rem;
        color: $white;
        text-transform: capitalize;

    }
}

/*media queries*/
@media only screen and (max-width:580px){
.hero{
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 1rem;
    }
    
}
}