@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

.nav 
  background-color:$lightcyan;
  background-color: gray;

  position: fixed;
  width: 100%;
  top: 0;
  height: 14vh;

  &__left{
    cursor: pointer;
  }
  &__container {
    @include flex(space-between, center);
  }
  &__right {
    ul {
      @include flex(space-between, center);
      margin: 1em;
      li {
        padding: 1em;
        font-size: 1rem;
        margin-right: 1em;
        border-radius: 5px;
        a {
          color: $black;
        }
        &:hover {
          background-color: $greenyellow;
          a{
            color: $green;
          }
          
        }
      }
    }
  }
}
