@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    margin:1em 1em;
}
.container{
    width: 90%;
    margin: 0 auto;
    @include flex(space-between,center);

}
input{
    outline: none;
    padding: 1em 2em;
    font-size: 1rem;
}
.login{
     
    &__btn{
        background-color: $black;
        color: $white;
        padding: 1em 2em;
        border-radius: 5px;
        margin: 1.5em;
    }
    &__paragraph{
        margin: 0.5em 0;
        
    }
}

